name: sudoku_poc
description: A Proof of Concept Sudoku game built with Flutter.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  provider: ^6.1.1
  equatable: ^2.0.5
  google_fonts: ^6.1.0
  intl: ^0.19.0 # For timer formatting

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  fake_async: ^1.3.1

flutter:
  uses-material-design: true
